/*----------------------------------------------------------------- Init ------------------------------------------------------*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/*----------------------------------------------------------------- Header ------------------------------------------------------*/
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    height: 70px;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgba(255, 255, 255);
}
.logo{
    flex: 1;
}
.menu{
    flex:3;
    display: flex;
}
.menu>li{
    padding: 0 12px;
    position: relative;
}
.menu>li:hover .sub-menu{
    visibility: visible;
    top: 20px;
    left: -30px;
    transition: 0.3s;
}
.sub-menu{
    position: absolute;
    width: 195px;
    border: 1px solid #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 55px;
    z-index: 1;
    background-color: #fff;
}
.sub-menu ul{
    padding-left: 10px;
    font-size: 14px;
    line-height: 30px;
}
.sub-menu>li>a{
    font-weight: bold;
    font-size: 15px;
    line-height: 30px;
}
.menu>li>a{
    font-size: 12px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
.others{
    flex:1;
    display: flex;
}
.others>li{
    padding: 0 12px;
    position: relative;
}
.others>li:first-child{
    position: relative;
}
.others>li:first-child input{
    width: 120%;
    border:none;
    border-bottom: 1px solid #333;
    outline: none;
    background-color: transparent;
    padding-right: 0;
}
.others>li:first-child a{
    position: absolute;
    right: 12px;
    left: 0;
}
.others li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    right: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    background-color: #ccc;

}
.others li:first-child::after{
    display: none;
}
.others li:last-child::after{
    display: none;
}
/*----------------------------------------------------------------- Content ------------------------------------------------------*/
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
  }
  
.aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 88%;
    top: 100px;
    left: 0;
}
.dot-container{
    position: absolute;
    display: flex;
    height: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333;
}
#slider{
    padding-bottom: 30px;
    border-bottom: 2px #000 solid;
    overflow: hidden;
}
/*----------------------------------------------------------------- App download ------------------------------------------------------*/
.app-container{
    text-align: center;
    align-items: center;
    padding: 30px 0 50px 0;
}
.store{
    margin: 50px;
}
.store img{
    height: 50px;
    cursor: pointer;
}
.app-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 25px;
    text-align: center;
    outline: none;
}
/*----------------------------------------------------------------- Footer ------------------------------------------------------*/
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-top li{
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}
.footer-top li::after{
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:first-child::after{
    display: none;
}
.footer-top li:first-child{
    padding-right: 0;
}
.footer-top li:last-child::after
{
    display: none;
}
.footer-top li:last-child a{
    padding-right: 10px;
}
.info{
    text-align: center;
    padding-bottom: 30px;
    border: none;
    border-bottom: 2px #000 solid;
}
.footer-bottom{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}